<h1>Instructions</h1>

<ol type="1">
  <li>
    <p>Press start</p>
  </li>
  <li>
    <p>Enter text</p>
  </li>
  <li>
    <p>Press send</p>
  </li>
</ol>

<div>
  <textarea rows="5" class="text-area" id="dataChannelSend" disabled placeholder="Type something!"></textarea>
  <textarea rows="5" class="text-area" id="dataChannelReceive" disabled></textarea>
</div>


<div id="buttons" class="centered">
  <button type="button" class="btn btn-secondary btn-margin" id="startButton">Start</button>
  <button type="button" class="btn btn-secondary btn-margin" id="sendButton">Send</button>
  <button type="button" class="btn btn-secondary btn-margin" id="closeButton">Stop</button>
</div>
<script src="js/dataChannel.js"></script>