<table width="100%">
	<tr>
		<th>
			Local video
		</th>
		<th>
			'Remote' video
		</th>
	</tr>
	<tr>
		<td>
			<video id="localVideo" autoplay></video>
		</td>
		<td>
			<video id="remoteVideo" autoplay></video>
		</td>
	</tr>
</table>

<div align="center">
	<button type="button" class="btn btn-secondary" id="startButton">Start</button>
	<button type="button" class="btn btn-secondary" id="callButton">Call</button>
	<button type="button" class="btn btn-secondary" id="hangupButton">Hang Up</button>
</div>

<script src="js/localPeerConnection.js"></script>